.films {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

 h2 {
    padding-block: 2rem;
    /* color: rgb(255, 102, 0); */
    color: white;
}

/* @media (max-width: 1024px) {
    .films {
        justify-content: center;
    }
} */